@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@700&display=swap');
*{
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    background: #0b68b9;
    background-image:url("../images/fondo-celus.jpeg");
    background-size:cover;
}

.image-icon{
text-align: center;
width: 45px;
height: 45px;
background: none;
}
form{
    background: none;
}
h1{
    text-align: center;
    padding: 35px 20px;
    background: none;
}
.anio{
padding-bottom: 10px;
background: none;
font-size: 17px;
text-align: center;
}
.equipo{
    background: none;
    font-size: 17px;
    text-align: center;
}
.tipoDeSeguro{
    background: none;
    font-size: 17px;
    text-align: center;
}
.casoEvento{
    background: none;
    font-size: 17px;
    text-align: center;
}
.form-select{
    text-align:center   
   }
.botton{
    background: none;
    font-size: 17px;
}
.seguroCuerpo {
    text-align: center;
    padding: 20px 400px;
    background: none;
    color: #267fcc;
    font-style: italic;
    background: none;
    opacity:0.9;
    text-shadow: 1px 1px 2px black;
}
.boton{
    margin-top:25px;
}

.error {
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #F4511E;
}
.correcto {
    background-color: rgb(211, 249, 187);
    border: 1px solid rgb(50, 167, 0);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(4, 150, 50);
}

.resumen {
    font-size: 25px;
    color: #0b68b9;
    border-radius: 9px;
    border-style: dashed;
    background: none;
}

p{
    background:none;
}

.resultado-container {
    background: url("../images/fondo-celus.jpeg") no-repeat;
    background-size: cover;
    padding: 20px;
}

.mx-auto{
    background:#267fcc;
    color:black;
    text-decoration-color:black;
    text-shadow: 1px 1px 2px black;
}
